 .u-section-1 {
  min-height: 836px;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 448px;
  height: 118px;
  margin: 103px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: BurguesScriptRegular;
  font-size: 3.75rem;
  margin: 28px auto 0;
}

.u-section-1 .u-group-elements-1 {
  width: 371px;
  min-height: 125px;
  height: auto;
  margin: 48px auto 0;
}

.u-section-1 .u-text-2 {
  width: 371px;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-countdown-1 {
  margin: 17px auto 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 400;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 448px;
  height: 118px;
  margin: 30px auto 131px;
}

.u-section-1 .u-image-2 {
  width: 448px;
  height: 118px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 686px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 90px;
    margin-top: 80px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-label-1 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-label-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-label-3 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-label-4 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-label-5 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-label-6 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 90px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 90px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 80px;
}

.u-section-2 .u-shape-1 {
  width: 190px;
  left: 77px;
  right: auto;
}

.u-section-2 .u-group-1 {
  width: 595px;
  min-height: 435px;
  height: auto;
  margin: 81px auto 0 55px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 14px;
}

.u-section-2 .u-slider-1 {
  min-height: 405px;
  width: 551px;
  height: auto;
  margin: 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-image-1 {
  filter: none;
  background-image: url("images/photo_2025-10-21_22-06-58.jpg");
  background-position: 100% 9.41%;
  background-size: 119%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-image-2 {
  filter: none;
  background-image: url("images/photo_2025-10-21_22-3-58.jpg");
  background-position: 94.42% 52.21%;
  background-size: 127%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/photo_2025-410-21_23-29-02.jpg");
  background-position: 50% 8.23%;
  background-size: cover;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/photo_2025-10-21_22-06fg-57.jpg");
  background-position: 50% 42.69%;
  background-size: cover;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/photo_2025-10-21_22-08-43.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-2 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/photo_2025-10-21_22-06-57.jpg");
  background-position: 50% 77.15%;
  background-size: cover;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-text-1 {
  margin: -422px 0 0 673px;
}

.u-section-2 .u-image-7 {
  width: 164px;
  height: 164px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: 44px 159px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 0 15px 80px 673px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    background-size: cover;
  }

  .u-section-2 .u-image-2 {
    background-size: 121%;
  }

  .u-section-2 .u-text-1 {
    margin-top: -31px;
    margin-left: 473px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 8px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-bottom: -230px;
    margin-left: 488px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-2 .u-group-1 {
    width: 550px;
    min-height: 400px;
    margin-top: 46px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 300px;
    width: 500px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -443px;
    margin-right: 55px;
    margin-left: 198px;
  }

  .u-section-2 .u-image-7 {
    width: 100px;
    height: 100px;
    margin-top: -72px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 371px -22px 60px 290px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 83px;
    --radius: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 98px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-slider-1 {
    width: 320px;
  }

  .u-section-2 .u-image-1 {
    background-position: 81.72% 9.41%;
  }

  .u-section-2 .u-image-2 {
    background-position: 39.15% 50%;
    background-size: cover;
  }

  .u-section-2 .u-image-4 {
    background-position: 63.02% 45.94%;
    background-size: 124%;
  }

  .u-section-2 .u-image-5 {
    background-position: 50% 88.55%;
    background-size: cover;
  }

  .u-section-2 .u-image-6 {
    background-position: 50% 93.9%;
  }

  .u-section-2 .u-text-1 {
    margin-top: -505px;
    margin-left: 0;
  }

  .u-section-2 .u-image-7 {
    margin-top: 470px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin: 7px 0 43px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 690px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 591px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 56px 55px 0;
}

.u-section-3 .u-shape-1 {
  width: 401px;
  height: 401px;
  margin: 28px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  width: 409px;
  margin: -366px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  width: 409px;
  margin: 5px auto 0;
}

.u-section-3 .u-image-1 {
  width: 242px;
  height: 228px;
  filter: none;
  margin: 37px auto 0 155px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 555px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-line-1 {
  width: 400px;
  margin: 56px auto 4px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 532px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 360px;
    height: 405px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -364px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 17px;
    margin-left: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-3 .u-layout-wrap-1 {
    transform: rotate(0deg);
    opacity: 1;
    background-position: 50% 0vh;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-right: 4px;
    margin-left: -4px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-top: 50px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -313px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 6px;
    margin-left: 45px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 428px;
}

.u-section-4 .u-text-1 {
  width: 461px;
  margin: 50px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 47px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 268px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-4 .u-group-elements-1 {
  width: 169px;
  min-height: 55px;
  height: auto;
  margin: 0 auto 0 182px;
}

.u-section-4 .u-text-2 {
  margin: 17px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 55px;
  height: 55px;
  margin: -41px auto 0 114px;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  width: 370px;
  margin: 19px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 268px;
}

.u-section-4 .u-container-layout-2 {
  padding: 12px 0;
}

.u-section-4 .u-group-elements-2 {
  width: 205px;
  min-height: 65px;
  height: auto;
  margin: 1px auto 0 168px;
}

.u-section-4 .u-image-2 {
  width: 65px;
  height: 65px;
  margin: 0 auto 0 140px;
}

.u-section-4 .u-text-4 {
  margin: -41px auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  width: 400px;
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 221px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-4 .u-group-elements-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-4 .u-group-elements-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-4 .u-group-elements-1 {
    margin-top: 2px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 240px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 862px;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  margin: 61px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 161px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-inner-1 {
  --gap: 10px;
  grid-template-columns: repeat(4, auto);
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-back-image-2 {
  object-position: 50% 11.8%;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-group-1 {
  width: 538px;
  min-height: 466px;
  background-image: none;
  height: auto;
  --color-var: #f3f8f5;
  margin: 34px 585px 0 17px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 36px;
}

.u-section-5 .u-text-2 {
  margin: 22px 14px 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 14px 0;
}

.u-section-5 .u-text-4 {
  margin: 6px 14px 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  margin: -81px auto 0 14px;
}

.u-section-5 .u-text-6 {
  margin: 114px 14px 0;
}

.u-section-5 .u-text-7 {
  margin: 6px 14px 0;
}

.u-section-5 .u-group-2 {
  width: 538px;
  min-height: 466px;
  background-image: none;
  height: auto;
  margin: -466px 17px 60px auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 36px;
}

.u-section-5 .u-text-8 {
  margin: 22px 14px 0;
}

.u-section-5 .u-text-9 {
  margin: 22px 14px 0;
}

.u-section-5 .u-text-10 {
  font-style: italic;
  margin: -51px auto 0 14px;
}

.u-section-5 .u-image-1 {
  width: 83px;
  height: 58px;
  margin: 68px auto 0;
}

.u-section-5 .u-text-11 {
  margin: 17px 14px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 254px;
  }

  .u-section-5 .u-gallery-1 {
    height: 133px;
  }

  .u-section-5 .u-group-1 {
    margin-right: 402px;
    margin-left: 0;
    height: auto;
  }

  .u-section-5 .u-group-2 {
    margin-top: 20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1678px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 79px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 38px;
    height: 407px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-group-1 {
    width: 439px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
  }

  .u-section-5 .u-group-2 {
    width: 439px;
    margin-top: 50px;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
  }

  .u-section-5 .u-text-9 {
    width: auto;
  }

  .u-section-5 .u-text-11 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2492px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 254px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1221px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-group-1 {
    width: 430px;
    margin-right: 2px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-group-2 {
    width: 430px;
    margin-right: 2px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1558px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 50px;
    height: 200px;
  }

  .u-section-5 .u-gallery-inner-1 {
    --gap: 12px;
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-group-1 {
    min-height: 525px;
    margin-top: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: -68px;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: 101px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    margin-top: 54px;
    min-height: 501px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-left: 0;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  background-position: 68.83% 99.63%;
  background-repeat: no-repeat;
  background-image: url("images/upscalemedia-transformed.jpeg");
  background-size: 110%;
}

.u-section-6 .u-sheet-1 {
  min-height: 532px;
}

.u-section-6 .u-text-1 {
  width: 307px;
  margin: 110px auto 0;
}

.u-section-6 .u-text-2 {
  width: 617px;
  margin: 55px auto 0;
}

.u-section-6 .u-btn-1 {
  --radius: 50px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 66px auto 6px;
  padding: 17px 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 35.05% 50%;
    background-size: cover;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 123px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 83px;
    padding: 22px 41px 24px 39px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 328px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  margin: 46px auto 0;
}

.u-section-7 .u-text-2 {
  width: 680px;
  margin: 16px auto 0;
}

.u-section-7 .u-group-elements-1 {
  width: 96px;
  min-height: 30px;
  height: auto;
  margin: 32px auto 0 467px;
}

.u-section-7 .u-social-icons-1 {
  height: 30px;
  width: 30px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-icon-1 {
  height: 0;
}

.u-section-7 .u-text-3 {
  margin: -28px 0 0 25px;
}

.u-section-7 .u-group-elements-2 {
  width: 96px;
  min-height: 30px;
  height: auto;
  margin: -30px auto 0 595px;
}

.u-section-7 .u-social-icons-2 {
  height: 30px;
  width: 30px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-icon-2 {
  height: 0;
  color: rgb(0, 230, 118) !important;
}

.u-section-7 .u-text-4 {
  margin: -28px 0 0 25px;
}

.u-section-7 .u-group-elements-3 {
  width: 251px;
  min-height: 54px;
  height: auto;
  margin: 32px 422px 46px auto;
}

.u-section-7 .u-social-icons-3 {
  height: 30px;
  width: 30px;
  margin: 0 auto 0 8px;
}

.u-section-7 .u-icon-3 {
  height: 32px;
}

.u-section-7 .u-text-5 {
  margin: -27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-elements-1 {
    margin-left: 337px;
  }

  .u-section-7 .u-group-elements-2 {
    margin-left: 501px;
  }

  .u-section-7 .u-social-icons-3 {
    margin-top: -13px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-elements-1 {
    margin-left: 246px;
  }

  .u-section-7 .u-group-elements-2 {
    margin-left: 391px;
  }

  .u-section-7 .u-group-elements-3 {
    min-height: 40px;
    margin-right: auto;
    margin-bottom: 36px;
  }

  .u-section-7 .u-social-icons-3 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-group-elements-1 {
    margin-left: auto;
  }

  .u-section-7 .u-group-elements-2 {
    margin-left: 444px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-group-elements-1 {
    margin-top: 34px;
    margin-left: 64px;
  }

  .u-section-7 .u-group-elements-2 {
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-7 .u-group-elements-3 {
    width: 222px;
    min-height: 51px;
    margin-top: 34px;
    margin-right: 46px;
    margin-bottom: 59px;
  }

  .u-section-7 .u-social-icons-3 {
    margin-top: 2px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: -32px;
    margin-left: 13px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 49px;
}

.u-section-8 .u-text-1 {
  width: 417px;
  margin: 10px auto;
}

.u-section-8 .u-icon-1 {
  font-size: 1.2858em;
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }
}
/* page-custom-fonts */
@font-face {
  font-family: 'BurguesScriptRegular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BurguesScriptRegular.otf);
}