 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3)), url('images/photo_2025-10-21_22-08-33.jpg');
  background-position: 50% 50%, 50% 85.4%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 458px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 378px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 218px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 84.47%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 137px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-form-1 {
  width: 570px;
  margin: 30px auto;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-input-1 {
  --radius: 7px;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
  margin-top: 20px !important;
}

.u-section-2 .u-input-2 {
  --radius: 7px;
}

.u-section-2 .u-form-group-5 {
  margin-top: 30px !important;
}

.u-section-2 .u-input-3 {
  --radius: 7px;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
  margin-top: 30px !important;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
  margin-top: 30px !important;
}

.u-section-2 .u-input-4 {
  --radius: 7px;
}

.u-section-2 .u-btn-1 {
  margin-top: 50px;
  background-image: none;
  font-size: 1rem;
  padding: 10px 141px;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}